h1 {
  margin: 35px;
}

.Products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Products li {
  list-style: none;
  display: flex;
  flex-direction: column;
}

li h3 {
  text-align: left;
  margin-bottom: 1px;
}

li img {
  height: 150px;
  width: 150px;
}

button:hover {
  cursor: pointer;
}

button {
  width: 125px;
  margin-bottom: 5px;
}
